li{
    list-style: none;
}

*{
    box-sizing: border-box;
}
body{
    padding: 50px 100px;
    margin: 0;
}

.lists{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    padding: 10px 10px;
    background-color: wheat;
    margin: 10px 0px;
    border-radius: 5px;
}

.icons{
    padding: 0px 0px;
    margin: 0 5px;
}